<!DOCTYPE html>
{% load static %}
<html　lang='ja'>
<head>
  <meta charset='utf-8' />
  <title>Table</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}" >
  <script src="{% static 'javascript/sample/sample.js'}"></script>
</head>
<body>
  <img src="{% static "images/testimg.png" %}" alt="表示できません">
  <h1>以下がTableです。</h1>
  {{insert_something}}
  <p>作者は<b id='test'>{{name}}</b></p>

  <p>{{insert_forms|safe}}</p>
  <form action='{% url 'webtable:index' %}' method='post'>
    {% csrf_token %}
    {{form}}
    <input type="submit" value='送信' />
  </form>
</body>
</html>
